{% extends 'base.html' %}

{% block title %}Belépés{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mt-5">Hallgatói Belépés</h2>

        {% if form.errors %}
            <p class="alert alert-danger">Hibás felhasználónév vagy jelszó. Próbálja újra.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Felhasználónév</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Jelszó</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary">Belépés</button>

            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}